<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
		<title>{{ page.title }} - Vos premiers pas en Ruby on Rails</title>
		<!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/code.css">
        <link rel="stylesheet" href="css/style.css">

        <link rel="shortcut icon" href="favicon.png">
	</head>
	<body>
	    <header>
	        <div class="container">
    	        <a id="logo" href="./"><span class="title-rails">Ruby on Rails</span> Vos premiers Pas</a>
                <nav>
                </nav>
            </div>
	    </header>

	    <article class="container">
	        <div class="span10">
		    {{ content }}
		    </div>
		</article>

		<footer>
		    <p>Ce travail est sous license <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License</a></p>

		    <p>Ce tutoriel est une traduction du guide des <a href="http://railsgirls.com" target="_blank">Rails Girls</a> par les <a href="http://humancoders.com" target="_blank" title="Une boîte 100% humaine">Human Coders</a> (éditeurs de <a href="http://news.humancoders.com/t/ruby" target="_blank" title="News Ruby et Ruby on Rails en français">HumanCoders News - Ruby</a>)</p>
		</footer>
		<script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26263044-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
	</body>
</html>
